# PANDAS DATAFRAME OBJECT

# import all libraries

In [1]:
import numpy as np 
import pandas as pd

Check the version of your PANDAS

In [2]:
pd.__version__

'1.1.3'

## **PANDAS DATAFRAME OBJECT**

In [19]:
area_dict = {'California':423967, 'Texas':695662, 'New':141297,
            'Florida':170312, 'Illinois':149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New           141297
Florida       170312
Illinois      149995
dtype: int64

In [20]:
states = pd.DataFrame({'population': population,
                      'area':area})
states

            population      area
California  38332521.0  423967.0
Florida     19552860.0  170312.0
Illinois    12882135.0  149995.0
New                NaN  141297.0
New York    19651127.0       NaN
Texas       26448193.0  695662.0

In [21]:
states.index

Index(['California', 'Florida', 'Illinois', 'New', 'New York', 'Texas'], dtype='object')

In [22]:
states.columns

Index(['population', 'area'], dtype='object')

In [23]:
states['area']

California    423967.0
Florida       170312.0
Illinois      149995.0
New           141297.0
New York           NaN
Texas         695662.0
Name: area, dtype: float64