### Missing Data in Pandas : None VS Nan ?

None

NaN

Operating on Null Values

    -Detecting null values

    -Filling Null Values

In [8]:
import numpy as np
import pandas as pd

# Missing Data in Pandas : None VS Nan ?

## None

In [21]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [22]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

## NaN

In [24]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [25]:
vals2

array([ 1., nan,  3.,  4.])

In [27]:
vals2.sum()

nan

In [28]:
vals2.min()

nan

In [29]:
vals2.max()

nan

In [30]:
np.nansum(vals2)

8.0

In [31]:
np.nanmin(vals2)

1.0

In [32]:
np.nanmax(vals2)

4.0

In [33]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [34]:
x =pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int32

In [35]:
x[0]=None
x

0    NaN
1    1.0
dtype: float64

## Operating on Null Values

### Detecting null values

In [36]:
data = pd.Series([1, np.nan, 'hello', None])
data

0        1
1      NaN
2    hello
3     None
dtype: object

In [37]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [38]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [39]:
data = pd.Series([1, np.nan, 'hello', None])

In [40]:
data.dropna()

0        1
2    hello
dtype: object

In [43]:
df = pd.DataFrame([[1, np.nan, 2],
                  [2, 3, np.nan],
                  [np.nan, 4, 6]])
df

     0    1    2
0  1.0  NaN  2.0
1  2.0  3.0  NaN
2  NaN  4.0  6.0

In [42]:
df.dropna()

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [44]:
df.dropna(axis='columns')

Empty DataFrame
Columns: []
Index: [0, 1, 2]

## Filling Null Values

In [47]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [46]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

In [48]:
# forward-fill
data.fillna(method='ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

In [49]:
# Back-fill
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64