In [1]:
import pandas as pd
import numpy as np

## Detecting and Filtering Outliers
---


finding the outlining data and filter it out as it may be the error while gathering the data.
Let's start by having the given data

In [2]:
data = pd.DataFrame(np.random.randn(1000,4))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.029719    -0.003672     0.037796     0.001715
std       0.979509     1.033843     0.994650     0.984670
min      -3.148831    -3.910047    -3.503266    -3.293142
25%      -0.635124    -0.703678    -0.647879    -0.677066
50%       0.032784     0.032095     0.005357     0.029266
75%       0.723792     0.685478     0.711553     0.658357
max       3.006426     4.151387     3.428027     3.085237

if we want to find the values in column 2 which the absolute value is exceed 3

In [3]:
col = data[2]
col[np.abs(col) >3]

732    3.428027
793   -3.503266
934    3.023463
Name: 2, dtype: float64

If we want to get rows which value is exceeding  3, we can use `any` methods

In [4]:
a = data[(np.abs(data)>3).any(1)]

In [5]:
a

            0         1         2         3
147 -1.100511  0.212217  0.748706  3.085237
368  0.425870  0.028234 -0.792555 -3.293142
485  0.649552 -3.910047  0.830895 -1.290498
567  3.006426 -0.983948  1.156053 -0.705293
592  1.150800  4.151387  0.268562 -1.838834
732 -0.831009  0.378829  3.428027  1.470610
741 -3.001157  0.183988  0.916961  0.721015
746  0.943772  3.935763  0.103902 -0.838391
793 -0.316268  1.480609 -3.503266 -0.062841
808 -3.148831 -0.475581 -0.401002 -0.388461
934 -0.317898  0.900583  3.023463  1.142995